<div>
    <div>
        <h1>Cart</h1>        
        <p>User name: {{user.firstName}}</p>
    </div>

    <div>
        <h2>Productos</h2>
        <ul>
            {{#each products}}
            <li>
                <p>title: {{this.product.title}}</p>
                <p>price: {{this.product.price}}</p>
                <p>thumbnail: {{this.product.thumbnail}}</p>
                <p>code: {{this.product.code}}</p>
                <p>description: {{this.product.description}}</p>
                <p>stock: {{this.product.stock}}</p>
                <p>category: {{this.product.category}}</p>
                <p>id: {{this._id}}</p>
                <p>quantity: {{quantity}}</p>
            </li>
            {{/each}}
        </ul>
        <form id="cartForm" action="/api/carts/purchase" method="post">
            <button type="submit">Comprar</button>
        </form>
    </div>
</div>