<div>
    <h1>
        Products
    </h1>
    <ul>
        {{#each products.docs}}
        <li>
            {{this.title}}
            {{this.description}}
            {{this.code}}
            {{this.price}}
            {{this.stock}}
            {{this.category}}
            {{this.thumbnail}}
            <form action="/views/products/addToCart" method="post">
                <label for="cid">Carrito ID</label>
                <input type="hidden" name="pid" value="{{this._id}}">
                <button type="submit">agregar al carrito</button>
            </form>
        </li>
        {{/each}}
    </ul>

    <div>
        ||
        {{#if products.hasPrevPage}}
        <a href="/views/products?page={{products.prevPage}}">anterior</a>
        {{/if}}
        ||
        <span>Pagina {{products.page}} de {{products.totalPages}}</span>
        ||
        {{#if products.hasNextPage}}
        <a href="/views/products?page={{products.nextPage}}">siguiente</a>
        {{/if}}
        ||
    </div>
</div>